// $Layout
.welcome {
    color: #fff;
}


.zone  {
    min-height: 400px;
    padding-bottom: 50px;
}

.action-block {
    @extend %center-section;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden;
}


.conf-details__item {
    padding-bottom: 20px;
}


.conf--speaker {
    position: relative;
}

.conf--speaker-overlay {
    display: block;
   // background-color: rgba( darken($burnt-orange, 6%), .4 );
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
}

.conf--speaker-caption {
    position: absolute;
    bottom: 0;
    padding: 10px;
    width: 100%;
    color: #FFF;

    h4 + h5 {
        margin-bottom: 0;
    }

    h5 {
        @extend %normal;
    }
}

.conf--speaker-wrap {
    &:nth-child( odd ) {
        .conf--speaker-overlay {
            background-color: rgba($teal, .3);
        }
    }

    &:nth-child( even ) {
        .conf--speaker-overlay {
            background-color: rgba($deep-red, .5);
        }
    }
}

.four-two {
    @extend .col-md-3;
    padding-top: $grid-gutter-width / 2;
    padding-bottom: $grid-gutter-width / 2;
}

.page-zone--a {
    background-color: $gray-lighter;
}

.schedule--col {
    @extend .col-md-6;
}

.schedule--time {
    @extend .col-md-3;
}

.schedule--time-menu {
    @extend .nav;
    @extend .nav-tabs;
    @extend %list-no-left;
}

.schedule--time-content {
    @extend .tab-content;
}

.schedule--time-content {
    @extend %clean-bullets;
}

.schedule--time-pane {
    @extend .tab-pane;
    min-height: 400px;
}

.schedule--time-details {
    @extend .col-md-9;
    @extend %clean-bullets;
    margin-bottom: 0;
}

.schedule--time-row {
    @extend .clearfix;
    @extend %list-no-left;
    @extend %clean-bullets;
    padding-top: 20px;
    position: relative;
}

